body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  }

header h1 {
  height: 40px;
  background: #2d6c5d;
  color: white;
  text-align: center;
  margin: 0;
}

nav {
  background: #333;
}

ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 6px 15px;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.active {
  color: #806000;
}

nav li:hover:not(.active) {
  background-color: black;
}

.wrapper {
  background: white;
  width: 800px;
  position: fixed;
  top: 70px;
  bottom: 20px;
  left: 50%;
  margin-left: -400px;
}

footer {
  background: #333;
  color: white;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer.home {
  background: none;
}

footer p {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

/*Home page style*/
body.home {
  background: url(../images/SantaBarbara.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home h1 {
  background: none;
}

#quote {

}

/*Blog/Adventure page style*/
.blog, .adventures{
  background: #dbf0eb;
  display: inline-block;
  border: 2px solid black;
  position: absolute;
  top: 70px;
  bottom: 20px;
  width: 49%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0.5% 0;
}

.blog {
  left: 0.5%;
}

.adventures {
  right:0.5%;
}

.blog h1, .adventures h1 {
  text-align: center;
  text-decoration: underline;
  padding: 10px;
  margin: 0;
}

.post {
  border-radius: 10px;
  height: 184px;
  width: calc(98% - 20px);
  overflow: hidden;
  background: white;
  margin: 1%;
  padding: 8px;
}

/*Contact page style*/
.contact {
  border: 5px solid #e0ebe0;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background: #b38600;
  color: #black;
  text-align: center;
  height:150px;
  width: 400px;
  margin: 100px auto;
}

.contact h1 {
  line-height: 150px;
  margin: 0;
  font-size: 4em;
}
