html{

}

body {
  margin: 0;
  padding: 0;
  background: #dbf0eb;
}

body.home {
  background: url(../images/SantaBarbara.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {

}

/* Navigation Bar Style */

nav {

}

ul {
  background: black;
}

li {
    display: inline-block;
}

li a {
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  color: white;
}

.active {
  background: green;
}

li a:hover:not(.active) {
  background-color: #555;
}

main {

}

footer {
  background: #bababa;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
}

footer.home {
  background: none;
}

.blog, .adventures{
  border: 2px solid black;
}

div {

}

#quote {

}

img {

}
