body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
}

header {
  height: 70px;
  }

header h1 {
  height: 40px;
  background: #2d6c5d;
  color: white;
  text-align: center;
  margin: 0;
}

nav {
  background: #333;
}

ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  padding: 6px 15px;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: white;
}

.active {
  color: #806000;
}

nav li:hover:not(.active) {
  background-color: black;
}

.wrapper {
  background: white;
  width: 800px;
  position: fixed;
  top: 70px;
  bottom: 20px;
  left: 50%;
  margin-left: -400px;
}

footer {
  background: #333;
  color: white;
  width: 100%;
  height: 20px;
  position: absolute;
  bottom: 0;
  left: 0;
}

footer.home {
  background: none;
}

footer p {
  margin: 0;
  padding: 0;
  line-height: 20px;
}

/*Home page style*/
body.home {
  background: url(../images/SantaBarbara.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home h1 {
  background: none;
}

#quote {

}

/*Blog/Adventure page style*/
.blog, .adventures{
  background: #dbf0eb;
  display: inline-block;
  border: 2px solid black;
  position: absolute;
  top: 70px;
  bottom: 20px;
  width: 49%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0.5% 0;
}

.blog {
  left: 0.5%;
}

.adventures {
  right:0.5%;
}

.blog h1, .adventures h1 {
  text-align: center;
  text-decoration: underline;
  padding: 10px;
  margin: 0;
}

.post {
  border-radius: 10px;
  height: 184px;
  width: calc(98% - 20px);
  overflow: hidden;
  background: white;
  margin: 1%;
  padding: 8px;
}

/*Contact page style*/
.reachOut {
  background: #d9d9d9;
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
  margin: 0;
  padding: 30px;
}

#contact {
  border: 5px solid #e0ebe0;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background: #b38600;
  color: #black;
  text-align: center;
  height:150px;
  width: 400px;
  margin: 10px auto;
}

#noHover {
  line-height: 150px;
  margin: 0;
  font-size: 4em;
}

#onHover {
  position: relative;
}

#onHover > h1 {
  line-height: 150px;
  margin: 0;
  font-size: 4em;
  width: 34%;
}

#onHover > ul {
  list-style-type: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
  width: 66%;
}

#onHover li {
  line-height: 40px;
  background: #e0ebe0;
  border: 3px solid #777;
  border-radius: 10px;
  text-decoration: none;
  margin: 3px;
  height: 40px;
}

#onHover li:hover {
  background: #333;
  color: white;
}

#email {
  background: #f2f2f2;
  border: 2px solid #555;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
}

#phone {
}

#phone h1 {
  background: #333;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
  color: #d9d9d9;
  line-height: 40px;
  height: 40px;
  margin: 10px 10px 0 10px;
}

#phone p {
  background: #d9d9d9;
  border-radius: 0 0 10px 10px;
  font-size: 3rem;
  color: blue;
  line-height: 90px;
  height: 90px;
  margin: 0 10px 10px 10px;
}

#social img {
    border: 2px solid white;
    border-radius: 15px;
    height: 60px;
    width: 60px;
    margin: 45px 10px;
}

.hidden {
  display: none;
}
